@using Orchard.ContentManagement
@{
    var imagePreview = Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Styles/images/content4.png"));
    var fileName = Model.ContentItem.Page.Preview.FileName;
    if (!string.IsNullOrEmpty(fileName)) {
        imagePreview = fileName;
    }

    string bodyHtml = Model.ContentItem.BodyPart.Text;
    var body = new HtmlString(Html.Excerpt(bodyHtml, 200).ToString());
}

<div class="article">
    <a href="@Url.ItemDisplayUrl((IContent)Model.ContentItem)" class="image">
        <img width="182" height="163" src="@Url.Content(imagePreview)" alt="@Model.Title">
    </a>
    <div class="info">
        <a class="title" href="@Url.ItemDisplayUrl((IContent)Model.ContentItem)">@Model.ContentItem.TitlePart.Title</a>
        <p>@body</p>
        <div class="links">
            <a href="@Url.ItemDisplayUrl((IContent)Model.ContentItem)" class="more">Читать полностью</a> @*<a href="#" class="comments">Комментариев (5)</a>*@
        </div>
    </div>
    <div class="clr"></div>
</div>